/* Index */
.index-icon-container {
    background: var(--primary-50);
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    color: var(--primary);
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    border-radius: calc(2 * var(--border-radius));
}

[data-theme-style="dark"] .index-icon-container {
    background: var(--gray-100);
}

.index-background {
    background: linear-gradient(var(--body-bg) 0%, transparent 15%, transparent 85%, var(--body-bg) 100%), url('data:image/svg+xml,%3Csvg%20height%3D%22800%22%20fill%3D%22%23ecffff%22%20width%3D%22800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M4%2013c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1m4-2c-.6%200-1%20.4-1%201v8c0%20.6.4%201%201%201s1-.4%201-1v-8c0-.6-.4-1-1-1m4-5c-.6%200-1%20.4-1%201v18c0%20.6.4%201%201%201s1-.4%201-1V7c0-.6-.4-1-1-1m4%207c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1m4-4c-.6%200-1%20.4-1%201v12c0%20.6.4%201%201%201s1-.4%201-1V10c0-.6-.4-1-1-1m4-3c-.6%200-1%20.4-1%201v18c0%20.6.4%201%201%201s1-.4%201-1V7c0-.6-.4-1-1-1m4%207c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

[data-theme-style="dark"] .index-background {
    background: linear-gradient(var(--body-bg) 0%, transparent 15%, transparent 85%, var(--body-bg) 100%), url('data:image/svg+xml,%3Csvg%20height%3D%22800%22%20fill%3D%22%23031b1c%22%20width%3D%22800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M4%2013c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1m4-2c-.6%200-1%20.4-1%201v8c0%20.6.4%201%201%201s1-.4%201-1v-8c0-.6-.4-1-1-1m4-5c-.6%200-1%20.4-1%201v18c0%20.6.4%201%201%201s1-.4%201-1V7c0-.6-.4-1-1-1m4%207c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1m4-4c-.6%200-1%20.4-1%201v12c0%20.6.4%201%201%201s1-.4%201-1V10c0-.6-.4-1-1-1m4-3c-.6%200-1%20.4-1%201v18c0%20.6.4%201%201%201s1-.4%201-1V7c0-.6-.4-1-1-1m4%207c-.6%200-1%20.4-1%201v4c0%20.6.4%201%201%201s1-.4%201-1v-4c0-.6-.4-1-1-1%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-header {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--primary);
}

.index-subheader {
    font-size: 1.45rem;
    color: var(--gray-700);
}

.index-button {
    padding: 0.8rem 4rem;
    font-size: 1.15rem;
    border-radius: .6rem;
}

.index-fade {
    position: absolute;
    background: linear-gradient(0deg, var(--white), hsla(0, 0%, 100%, 0)) !important;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* Index card icon */
.index-os-icon {
    width: 2rem;
    height: 2rem;
}

.index-browser-icon {
    width: 2rem;
    height: 2rem;
}

/* Index testimonial */
.index-testimonial-avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transform: translateY(-70%);
    border: 4px solid var(--white);
    background: var(--white);
    position: absolute;
    left: 50%;
    margin-left: -52px;
}

.index-testimonial-comment {
    margin-left: 18px;
}

/* Index FAQ */
.index-faq svg {
    transition: all .15s;
    color: var(--primary-800);
}

/* Timeline */
.index-timeline {
    position: relative;
}

.index-timeline::before {
    content: '';
    position: absolute;
    border-left: 2px solid var(--gray-200);
    height: 100%;
    left: calc(57px / 2);
}

/* Index call to action */
.index-cta {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20700%20700%22%20width%3D%22700%22%20height%3D%22700%22%3E%3Cdefs%3E%3ClinearGradient%20gradientTransform%3D%22rotate(127%20.5%20.5)%22%20x1%3D%2250%25%22%20y1%3D%220%25%22%20x2%3D%2250%25%22%20y2%3D%22100%25%22%20id%3D%22a%22%3E%3Cstop%20stop-color%3D%22hsv(239%2C%2083%25%2C%2094%25)%22%20offset%3D%220%25%22%2F%3E%3Cstop%20stop-color%3D%22hsl(181%2C%2079%25%2C%2038%25)%22%20offset%3D%22100%25%22%2F%3E%3C%2FlinearGradient%3E%3Cfilter%20id%3D%22b%22%20x%3D%22-20%25%22%20y%3D%22-20%25%22%20width%3D%22140%25%22%20height%3D%22140%25%22%20filterUnits%3D%22objectBoundingBox%22%20primitiveUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.005%200.003%22%20numOctaves%3D%222%22%20seed%3D%22162%22%20stitchTiles%3D%22stitch%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20result%3D%22turbulence%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%2220%200%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22turbulence%22%20result%3D%22blur%22%2F%3E%3CfeBlend%20mode%3D%22color-dodge%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22SourceGraphic%22%20in2%3D%22blur%22%20result%3D%22blend%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath%20fill%3D%22url(%23a)%22%20filter%3D%22url(%23b)%22%20d%3D%22M0%200h700v700H0z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
}

.index-cta a.btn {
    color: white;
    border-color: white;
    padding: 1.2rem 4.2rem;
    font-size: 1.25rem;
}

.index-cta a.btn:hover {
    border-color: var(--primary);
}

/* Index stats */
.index-stats-card {
    color: var(--gray-300);
    background: var(--gray-900);
}

[data-theme-style="dark"] .index-stats-card {
    background: var(--gray-50);
    color: var(--gray-700);
}

/* Inverse colors animation */
.inverse-colors-animation {
    transition: 0.35s;
}

.inverse-colors-animation:hover {
    filter: invert(100%) hue-rotate(180deg) saturate(0.9) brightness(1.05);
}
